.landing_student{
  padding-top: 150px;
  padding-bottom: 130px;
  position: relative;
}
.landing_student_content{
  display: grid;
  grid-template-areas: "wrap2 wrap1";
  align-items: center;
  gap: 100px;
}
.landing_student_desc{
  width: 600px;
  grid-area: wrap1;
  position: relative;
}
.big_square{
  position: absolute;
  bottom: -130px;
  right: 0;
}
.extra_logo{
  position: absolute;
  top: 0;
  right: 40px;
}
.landing_student_imgs{
  grid-area: wrap2;
  display: grid;
  grid-template-areas: "one two three" 
  "four four three"
  "four four five";
  gap: 12px;
}
.landing_student_imgs img{
  width: 100%;
  height: 100%;
}
.landing_student_imgs img:nth-child(1){
  grid-area: one;
}
.landing_student_imgs img:nth-child(2){
  grid-area: two;
}
.landing_student_imgs img:nth-child(3){
  grid-area: three;
}
.landing_student_imgs img:nth-child(4){
  grid-area: four;
}
.landing_student_imgs img:nth-child(5){
  grid-area: five;
}
.landing_student_desc p{
  margin-bottom: 50px;
}